
.table{
    margin-top: 20px;
    overflow: auto;
    height: 400px;
}

.table > tr:nth-of-type(odd){
    background-color: lightgray;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}